<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <div id="about">
        <div id="about_data">
            <div id="dataA">
                <p
                    style="font-size: 40px; font-weight: bold; color: rgb(219, 104, 46);font-family: Verdana, Geneva, Tahoma, sans-serif;">
                    ABOUT US</p>
                <p style="font-size: 19px; color: grey;">Full cleaning and housekeeping services for companies
                    and <br> households. <br> <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting <br> industry. Lorem Ipsum
                    has been the industry's standard dummy <br> text.Lorem Ipsum is simply</p>
            </div>
            <div class="button"><button><a href="index.html">Read More</a></button> </div>
        </div>
        <div id="about_banner"></div>
    </div>

    {% endblock %}
</body>
</html>