{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="#">Home</a>
            <a href="{% url 'about' %}">About</a>
            <a href="{% url 'cotect' %}">Cotect</a>
            <a href="{% url 'service' %}">Service</a>
        </nav>
    </header>
    {% block content %}
    <h>this is base </h>
    {% endblock %}

    <footer>www.github.com</footer>
</body>
</html>