<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    
    <div id="banner">
        <div id="banner_data">
            <div id="data1">
                <p style="font-size: 60px; font-family: Verdana, Geneva, Tahoma, sans-serif;">Outstanding</p>
            </div>
            <div id="data2">
                <p
                    style="font-size: 65px; color: white; font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                    Coffee Shop</p>
            </div>
            <div>
                <p style="font-size: 20px; color: white;">coffee has played a far more important role in the world
                    than most people <br>
                    realize. Of course, it’s one of the most popular beverages in <br>
                    disparate cultures around the globe. </p>
            </div>
            <div class="button"><button><a href="index.html">Learn More</a></button> </div>
            <div id="arrow">
                <div class="aro"> < </div>
                        <div class="aro"> > </div>
                </div>
            </div>
        </div>
    </div> 
    {% endblock %}
</body>
</html>