<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}

    <div id="gallery">
        <div id="gallery_data">
            <p
                style="font-size: 40px; font-weight: bold; color: rgb(219, 104, 46);font-family: Verdana, Geneva, Tahoma, sans-serif;">
                Our Gallery</p>
            <p style="font-size: 19px; color: grey;">Lorem Ipsum is simply dummy text of printing typesetting
                ststry lorem Ipsum the industry'ndard dummy text ever since of the 1500s, when an <br>
                unknown printer took a galley of type and scra make a type specimen book. It has</p>
        </div>
        <div class="row">
            <div class="img"><img src="images/img-1.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>

            </div>
            <div class="img"><img src="images/img-2.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="img"><img src="images/img-3.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="img"><img src="images/img-4.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="img"><img src="images/img-5.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="img"><img src="images/img-6.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="img"><img src="images/img-7.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="img"><img src="images/img-8.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
            <div class="img"><img src="images/img-9.png" alt="" height="300px" ; width="350px" ;>
                <div class="srrr">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="button"><button><a href="index.html">See More</a></button> </div>
    </div>

    {% endblock %}
</body>
</html>